<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>熟成紅茶</string>
		<key>introduction</key>
		<string>解炸物 / 燒烤肉類油膩，茶味濃郁帶果香</string>
		<key>priceMiddle</key>
		<integer>25</integer>
		<key>priceLarge</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>麗春紅茶</string>
		<key>introduction</key>
		<string>去除海鮮腥味，茶味較淡帶花香</string>
		<key>priceMiddle</key>
		<integer>25</integer>
		<key>priceLarge</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>太妃紅茶</string>
		<key>introduction</key>
		<string>咖啡與茶的神祕比例搭配</string>
		<key>priceMiddle</key>
		<integer>30</integer>
		<key>priceLarge</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>雪藏紅茶</string>
		<key>introduction</key>
		<string>冰淇淋與紅茶的綿綿情意</string>
		<key>priceMiddle</key>
		<integer>45</integer>
		<key>priceLarge</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>熟成冷露</string>
		<key>introduction</key>
		<string>手工冬瓜與茶更神秘比例搭配</string>
		<key>priceMiddle</key>
		<integer>25</integer>
		<key>priceLarge</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>雪花冷露</string>
		<key>introduction</key>
		<string>手工冬瓜獨奏</string>
		<key>priceMiddle</key>
		<integer>25</integer>
		<key>priceLarge</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>春芽冷露</string>
		<key>introduction</key>
		<string>手工冬瓜綠茶</string>
		<key>priceMiddle</key>
		<integer>25</integer>
		<key>priceLarge</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>春芽綠茶</string>
		<key>introduction</key>
		<string>綠茶，糸糸中帶點彔彔</string>
		<key>priceMiddle</key>
		<integer>25</integer>
		<key>priceLarge</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>春梅冰茶</string>
		<key>introduction</key>
		<string>春梅與冬瓜相遇</string>
		<key>priceMiddle</key>
		<integer>35</integer>
		<key>priceLarge</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冷露歐蕾</string>
		<key>introduction</key>
		<string>手工冬瓜與鮮奶</string>
		<key>priceMiddle</key>
		<integer>40</integer>
		<key>priceLarge</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>熟成歐蕾</string>
		<key>introduction</key>
		<string>熟成鮮奶茶</string>
		<key>priceMiddle</key>
		<integer>40</integer>
		<key>priceLarge</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>白玉歐蕾</string>
		<key>introduction</key>
		<string>珍奶不解釋</string>
		<key>priceMiddle</key>
		<integer>50</integer>
		<key>priceLarge</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>熟成檸果</string>
		<key>introduction</key>
		<string>每日限量的鮮檸紅茶，整顆檸檬搭配7分糖最佳</string>
		<key>priceMiddle</key>
		<integer>50</integer>
		<key>priceLarge</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>金薑歐蕾</string>
		<key>introduction</key>
		<string>薑汁奶茶</string>
		<key>priceMiddle</key>
		<integer>65</integer>
		<key>priceLarge</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>玉薑歐蕾</string>
		<key>introduction</key>
		<string>薑汁冬瓜鮮奶</string>
		<key>priceMiddle</key>
		<integer>65</integer>
		<key>priceLarge</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
